<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{POST} Design</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="css/simple-sidebar.css" rel="stylesheet">
  <link href="css/postcard.css" rel="stylesheet">
  <link href="css/postcard-textbox.css" rel="stylesheet">
  <link href="css/email.css" rel="stylesheet">
  <link href="css/resize-handles.css" rel="stylesheet">

  <!-- Scripts-->  
  <script type="text/JavaScript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/JavaScript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
  <script type="text/JavaScript" src="scripts/auth.js"></script>
  <script type="text/JavaScript" src="scripts/postcardElement.js"></script>
  <script type="text/JavaScript" src="scripts/postcard.js"></script>
  <script type="text/JavaScript" src="scripts/email.js"></script>
  <script type="text/JavaScript" src="scripts/html2canvas.js"></script>
</head>

<body>
  <input id=dragTextImage class=dragImage>
  <div id=dragImage class=dragImage></div>
  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading"><a href="/"><img src="logo-black.svg"></a></div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Colors: <input id="colorPicker" type="color"></a>
        <div class="list-group-item list-group-item-action bg-light">
          Gradient:
          <input id="gradientColor1" type=color>
          <input id="gradientColor2" type=color>
          Orientation:
          <select id="gradientOrientationSelector">
            <option>to bottom</option>
            <option>to top</option>
            <option>to right</option>
            <option>to left</option>
            <option>to top left</option>
            <option>to top right</option>
            <option>to bottom left</option>
            <option>to bottom right</option>
          </select>
          <button onclick="setSelectedElementGradientBackground()">Apply</button>
        </div>
        <a class="list-group-item list-group-item-action bg-light" draggable="true" ondragstart="dragStarted(event)" 
        onclick="sidebarClickTextBoxWithoutDrag(event)" data-type="input">Add Textbox</a>
          <input id="filePicker" type="file" accept="image/*" multiple class="list-group-item list-group-item-action bg-light" draggable="true"
           ondragstart="imageDragStarted(event)" data-type="image">
        <a class="list-group-item list-group-item-action bg-light">View Templates</a>
        <a class="list-group-item list-group-item-action bg-light" onclick="on()" >Share</a>
        <a id="exportLink" class="list-group-item list-group-item-action bg-light">Download</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

          <div class="navbar-collapse" id="navbarSupportedContent">            
            <a class="ml-auto nav-link dropdown-toggle" href="#" id="loginDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Login
            </a>
            <a href="/logout?from=design">Logout</a>
            <div id="login" class="dropdown dropdown-menu-right hidden">
              <div id="loginform" class="m-3">
                  <form>
                      <div class="form-group">
                          <label for="username">Username</label><input class="form-control" type="text" name="uname">
                          <label for="password">Password</label><input class="form-control" type="password" name="pword">
                      </div>
                      <input type="button" class="btn btn-primary" value="Login" onclick="auth(this.form)"><p id="login-error"></p>
                  </form>
                  <p>
                      Don't have an account? <a href="/register" class>Register here</a>
                  </p>
              </div>
          </div>
        </nav>

      <div id="content-container" class="container-fluid">
        <div id="postcardContainer" class="container-fluid no-remove" ondrop="drop(event)" ondragover="allowDrop(event)">
      </div>
    </div>
    <!-- /#page-content-wrapper -->

    <!-- Email Modal -->
    <div id="overlay">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New message</h5>
              <button type="button" class="close" onclick="off()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="name">Name: </label>
                    <input type="text" class="form-control" id="name" name="name" required maxlength="50" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" class="form-control" id="email" name="email" required maxlength="256" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="name">Message: </label>
                    <textarea class="form-control" type="textarea" name="message" id="message" placeholder="Your Message Here" maxlength="6000" rows="7"></textarea>
                </div>
                <button type="submit" class="btn btn-lg btn-success btn-block" id="btnContactUs" onclick="">Send →</button>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div> 
    <!-- /#Email Modal -->
  </div>
  <!-- /#wrapper -->
  <!-- Menu Toggle Script -->


  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

    $("#loginDropdown").click(e => {
      e.preventDefault()
      $("#login").toggleClass('hidden')
    })
  </script>
</body>
</html>
