<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{POST} Design</title>

  <!-- Custom styles for this template -->
  <link href="/css/app.css" rel="stylesheet">   
  <link href="/css/simple-sidebar.css" rel="stylesheet">
  <link href="/css/postcard.css" rel="stylesheet">
  <link href="/css/postcard-textbox.css" rel="stylesheet">
  <link href="/css/email.css" rel="stylesheet">
  <link href="/css/resize-handles.css" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- Scripts-->  
  <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/JavaScript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
  
  <script type="text/JavaScript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/JavaScript" src="/scripts/postcardElement.js"></script>
  <script type="text/JavaScript" src="/scripts/postcard.js"></script>
  <script type="text/JavaScript" src="/scripts/email.js"></script>
  <script type="text/JavaScript" src="/scripts/html2canvas.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script type="text/javascript" src="/scripts/app.js" ></script>

</head>

<body ng-app="PostcardService">
  <input id=dragTextImage class=dragImage>
  <div id=dragImage class=dragImage></div>
  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading"><a href="/"><img src="/resources/SVG/logo-black.svg"></a></div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Colors: <input id="colorPicker" type="color"></a>
        <div class="list-group-item list-group-item-action bg-light">
          Gradient:
          <input id="gradientColor1" type=color>
          <input id="gradientColor2" type=color>
          Orientation:
          <select id="gradientOrientationSelector">
            <option>to bottom</option>
            <option>to top</option>
            <option>to right</option>
            <option>to left</option>
            <option>to top left</option>
            <option>to top right</option>
            <option>to bottom left</option>
            <option>to bottom right</option>
          </select>
          <button onclick="setSelectedElementGradientBackground()">Apply</button>
        </div>
        <a class="list-group-item list-group-item-action bg-light" draggable="true" ondragstart="dragStarted(event)" 
        onclick="sidebarClickTextBoxWithoutDrag(event)" data-type="input">Add Textbox</a>
        <div class="list-group-item list-group-item-action bg-light">
          Font:
          <select id="fontFamilySelector">
            <option>Arial</option>
            <option>Arial Black</option>
            <option>Bookman</option>
            <option>Candara</option>
            <option>Comic Sans MS</option>
            <option>Courier</option>
            <option>Courier New</option>
            <option>Garamond</option>
            <option>Georgia</option>
            <option>Impact</option>
            <option>Palatino</option>
            <option>Roboto</option>
            <option>Sans Serif</option>
            <option>Times New Roman</option>
            <option>Times</option>
            <option>Verdana</option>
          </select>  
          <br>
          Font Size:
          <select id="fontSizeSelector">
            <option>8</option>
            <option>10</option>
            <option selected>12</option>
            <option>14</option>
            <option>16</option>
            <option>18</option>
            <option>20</option>
            <option>24</option>
            <option>28</option>
            <option>32</option>
            <option>38</option>
            <option>44</option>
            <option>52</option>
            <option>60</option>
            <option>68</option>
          </select>
          <br>
          Font Color:
          <input id="fontColorPicker" type="color">
          <br>
          <input class="orderButton" id="sendBackwards" type="button" value="Send Backwards" onclick="sendBackwards()">
          <input class="orderButton" id="sendToBack" type="button" value="Send To Back" onclick="sendToBack()">
          <input class="orderButton" id="sendForwards" type="button" value="Send Forwards" onclick="sendForwards()">
          <input class="orderButton" id="sendToFront" type="button" value="Send To Front" onclick="sendToFront()">
        </div>
        <input id="filePicker" type="file" accept="image/*" class="list-group-item list-group-item-action bg-light" draggable="true"
           ondragstart="imageDragStarted(event)" data-type="image"> 
        <button id="downloadBtn" class="list-group-item list-group-item-action bg-light">Download</button>
        <div id="save" class="list-group-item list-group-item-action bg-light">
          <button id="saveBtn" class="list-group-item list-group-item-action bg-light" type="button">Save</button>
          <input id="isPrivateCheckbox" type="checkbox" isChecked="true"> Private
        </div>
        <a class="list-group-item list-group-item-action bg-light">View Templates</a>
        <a class="list-group-item list-group-item-action bg-light" onclick="on()" >Share</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
          
          <div class="navbar-collapse" id="navbarSupportedContent" ng-controller="AuthController">
            <a class="ml-auto nav-link dropdown-toggle" href="#" id="loginDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-if="!user" ng-click="showlogin()">
              Login
            </a>
            <p ng-if="user" class="ml-auto nav-link" id="loggedin"><strong>Hey there, {{user.username}}!</strong><br/> <a href="" ng-click="logout()">Logout</a></p>
            <div id="login" class="dropdown dropdown-menu-right hidden">
              <div id="loginform" class="m-3">
                  <form>
                      <div class="form-group">
                          <label for="username">Username</label><input class="form-control" type="text" id="uname" name="uname" ng-model="login.username" ng-change="validateLogin()">
                          <label for="password">Password</label><input class="form-control" type="password" id="pword" name="pword" ng-model="login.password" ng-change="validateLogin()">
                      </div>
                      <input type="button" class="btn btn-primary" value="Login" ng-click="authenticate()"><p id="login-error">{{error}}</p>
                  </form>
                  <p>
                      Don't have an account? <a href="/register" class>Register here</a>
                  </p>
              </div>
            </div>
          </div>
        </nav>
  

      <div id="content-container" class="container-fluid">
        <div id="postcardContainer" data-postcard-id class="container-fluid no-remove" type="postcard"></div>
      </div>
      <canvas id="canvas"></canvas>
    </div>
    <!-- /#page-content-wrapper -->
    
    <!-- Email Modal -->
    <div id="overlay">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Share</h5>
              <button type="button" class="close" onclick="off()">
                <span aria-hidden="true">&times;</span>
              </button>
              
            </div>
            <div class="modal-body">
                <div class="tab">
                    <button class="tablinks" id="emailTab" onclick="tabOpen(event, 'emailTabContent')" >Email</button>
                    <button class="tablinks" id="textTab" onclick="tabOpen(event, 'textTabContent')">SMS</button>  
                    <button class="tablinks" id="whatsApp" onclick="tabOpen(event, 'whatsAppTabContent')">WhatsApp</button>   
                    <button class="tablinks" id="whatsApp" onclick="tabOpen(event, 'facebookTabContent')">Facebook</button>
                    <button class="tablinks" id="whatsApp" onclick="tabOpen(event, 'twitterTabContent')">Twitter</button>                 
                </div>
                <!--Content of email modal tab-->
                <div class="tabcontent" id="emailTabContent">
                    <div class="form-group">
                        <label for="name">Name: </label>
                        <input type="text" class="form-control" id="name" name="name" required maxlength="50" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email: </label>
                        <input type="email" class="form-control" id="email" name="email" required maxlength="256" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="name">Message: </label>
                        <textarea class="form-control" type="textarea" name="message" id="message" placeholder="Your Message Here" maxlength="6000" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-lg btn-success btn-block" id="btnContactUs" onclick="">Send →</button> <br/>
                </div>
                <!--Content of text modal tab-->
                <div class="tabcontent" id="textTabContent">
                    <div class="form-group">
                        <label for="number">Send To: </label>
                        <input type="text" class="form-control" id="number" name="number" required maxlength="50" placeholder="Number">
                    </div>
                    <div class="form-group">
                        <label for="txtMessage">Text Message: </label>
                        <textarea class="form-control" type="textarea" name="txtMessage" id="txtMessage" placeholder="Your Message Here" maxlength="6000" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-lg btn-success btn-block" id="sendTextMessage" onclick="">Send →</button> <br/>
                </div>
                <!--Content of whatsapp messanger modal tab-->
                <div class="tabcontent" id="whatsAppTabContent">
                  <div class="form-group">
                    <label for="whatsapNumeber">Send To: </label>
                    <input type="text" class="form-control" id="whatsapNumeber" name="whatsapNumeber" required maxlength="50" placeholder="Whatsapp Number">
                </div>
                <div class="form-group">
                    <label for="whatsappMessage">Message: </label>
                    <textarea class="form-control" type="textarea" name="whatsappMessage" id="whatsappMessage" placeholder="Your Message Here" maxlength="6000" rows="5"></textarea>
                </div>
                <button type="submit" class="btn btn-lg btn-success btn-block" id="sendWhatsAppMessage" onclick="">Send →</button> <br/>
                </div>
                <div class="tabcontent" id="facebookTabContent">
                    <br/>
                    <label for="Facebookshare">Share to Facebook</label>
                    <button type="submit" class="btn-primary btn-lg btn-block fa fa-facebook" id="FacebookBtn" onclick=""></button> <br/>
                </div>
                <div class="tabcontent" id="twitterTabContent">
                    <br/>
                    <label for="Twittershare">Share to Twitter</label>
                    <button type="submit" class="btn-info btn-lg btn-block fa fa-twitter" id="twitterBtn" onclick="window.location.href= 'http://twitter.com/share?url=<URL>&text=<TEXT>&via=<VIA>';"></button> <br/>
                </div>
                
                
            </div>
                <!--Facebook-->
            <div class="modal-footer">
                <!-- <a class="btn share-btn facebook" id="FacebookBtn">
                <i class="fa fa-facebook"></i>
                </a> -->

                <!-- Twitter -->
                <!-- <a href="http://twitter.com/share?url=<URL>&text=<TEXT>&via=<VIA>" target="_blank" class="btn share-btn twitter">
                <i class="fa fa-twitter"></i>
                </a> -->
            </div>
          </div>
        </div>
      </div> 
    <!-- /#Email Modal -->
  </div>
  <!-- /#wrapper -->

  <div id="toaster" class="toast">
      <div id="toastHeader" class="toast-header">
        Toast Header
      </div>
      <div id="toastBody" class="toast-body">
        Some text inside the toast body
      </div>
  </div>

  <!-- Menu Toggle Script -->


  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

    $("#loginDropdown").click(e => {
      e.preventDefault()
      $("#login").toggleClass('hidden')
    });
  </script>
</body>
</html>