<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>{POST} Profile</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/simple-sidebar.css" rel="stylesheet">   
    <link href="/app.css" rel="stylesheet">   

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="/app.js" type="text/javascript"></script>

  </head>

  <body>

    <div class="d-flex" id="wrapper" ng-app="PostcardService">

      <!-- Sidebar --> 
      <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading"><a href="/"><img src="/logo-black.svg"></a></div>
        <div class="list-group list-group-flush">
          <a href="/" class="list-group-item list-group-item-action bg-light">Home</a>
          <a href="/profile" class="list-group-item list-group-item-action bg-light">Profile</a>
          <a href="/design" class="list-group-item list-group-item-action bg-light">Design</a>
        </div>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper" >

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
          <div ng-controller="SearchController" id="search">
            <form>
              <div class="input-group">
                <input type="text" ng-model="query" class="form-control" ng-change="search(query)"><input type="button" value="Search" ng-click="search(query)" class="btn btn-primary">
              </div>
            </form>
            <div id="results" ng-if="results.length > 0">
              <div ng-repeat="result in results" >
                <a ng-href="/profile/{{result._id}}"><button class="result btn btn-light">{{result.firstname}} {{result.lastname}} @{{result._id}}</button></a>
              </div>
            </div>
          </div>

          <div class="navbar-collapse" id="navbarSupportedContent">
              <a href="/logout" class=ml-auto>Logout</a>  
          </div>
        </nav>

        <div class="container-fluid"> 
          <div id="bg">            
          </div> 
          <div ng-controller="ProfileController">
            <h1>{{user.firstname}} {{user.lastname}}</h1>
            <h3>@{{user._id}}</h3>
            <hr/>
            <div ng-if="user.postcards.private">
                <h3>Your Private Postcards</h3>
                <p  ng-if="!user.postcards || user.postcards.private.length === 0"> Sorry! No postcards to display</p>
                <div id="private" class="postcards">                  
                  <div class="postcard" ng-repeat="postcard in user.postcards.private track by $index">
                    <a ng-href="/design/{{user._id}}/private/{{postcard._id}}"><img ng-src="{{postcard.image}}"/></a>
                  </div>
                  <hr>
                </div>
                <hr/>
            </div>
            <p ng-if="!user.postcards || user.postcards.public.length === 0"> Sorry! No postcards to display</p>
            <div id="public" class="postcards">                  
                <div class="postcard" ng-repeat="postcard in user.postcards.public track by $index">
                  <a ng-href="/design/{{user._id}}/public/{{postcard._id}}"><img ng-src="{{postcard.image}}"/></a>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>

  </body>

</html>