.postcard div{
    width: 20vw !important;
    height: 25vh !important;
    border-radius: 10px;
}

.postcards{
    display: flex;
    flex-wrap: wrap;
}

.postcard{
    margin: 20px 10px 10px 10px;
}

.profile-icon{
    width: 30px;
    cursor: pointer;
}

#search{
    width: 40%;
    margin-left: 20px;
}

#search .form-control{
    width: 60%;
}

#search form .btn{
    display: inline;
}

#results{
    position: absolute;
    width: 35%;
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.result{
    width: 100%;
    height: 4vh;
    margin: 1px;
}

.group .form-control{
    width: 70%;
    display: inline-block;
}

#delete-account{
    color: red;
    cursor: pointer;
}   

#deletion-confirm{
    position: fixed;
    width: 50vw;
    height: 25vh;
    top: 20vh;
    left: 25vw;
    background: white;
    padding: 5% 2%;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

#deletion-confirm .btn{
    width: 40%;
    margin: 0 5%;
}