#postcardContainer {
    min-width: 100px;
    min-height: 100px;
    width: 400px;
    height: 300px;
    border: solid 1px black;
    overflow: hidden;
    resize: both;
    padding: 0px;
    position: relative;
    outline: solid 1px transparent;
}

#isPrivateCheckbox {
    margin-left: 30px;
}

#login {
    position: absolute;
}

#toaster {
    position: absolute;
    top: 80px; 
    right: 10px;
}

#canvas{
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}

/* Dropdown Button */
.dropbtn {
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .save-dropdown {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: #007BFF;
    color: white;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Show the save dropdown menu on hover */
  .save-dropdown:hover .dropdown-content {display: block;}

  #isPrivateContainer {
      color: black;
      text-align: center;
  }

  #isPrivateContainer span {
      margin-left: 5px;
  }

  #filePicker {
      width: 0.1px;
      height: 0.1px;
      position: absolute;
  }