[id^="public-"], [id^="private-"]{
    border-radius: 10px;
}

.postcardContainer{
    width: 20vw !important;
    height: 13.3333vw !important;
    border-radius: 10px;
}

.postcardContainer div{
    transform: scale(0.9) translate(-50%, -50%);
}   